<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<ion-header [translucent]="true">
  <ion-toolbar mode='ios'>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)='dismiss()'><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    
    <ion-title style="color: gray; ">{{ 'Eleve.ListE' | translate }}</ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>
<ion-card>
  <img [src]='img' [hidden]='img==null'> 
  <img src='assets/profile.jpg' [hidden]='img!=null'> 
  <ion-card-header>

  </ion-card-header>
  <ion-card-content>
   <ion-card-subtitle class="name"> <b>{{nom}}</b> </ion-card-subtitle>

   <div *ngIf="!( adr==='') || (adr === null)">
   <ion-card-title >{{ 'Eleve.Adresse' | translate }} : </ion-card-title>
   <ion-card-subtitle  *ngIf="!( adr==='') || (adr === null)">{{ 'Eleve.AddActuelle' | translate }} : {{adr}}</ion-card-subtitle>
   <ion-card-subtitle  *ngIf="!( lieu==='') || (lieu === null)">{{ 'Eleve.LieuNaiss' | translate }} :{{lieu}}</ion-card-subtitle>
  </div>

   <div *ngIf="pere.firstname != null">
   <ion-card-title>{{ 'Eleve.Pere' | translate }} : </ion-card-title>
   <ion-card-subtitle>{{ 'Eleve.Nom&Pre' | translate }}   : {{pere.firstname+' '+pere.lastname}}</ion-card-subtitle>
   <ion-card-subtitle *ngIf="!( pere.phone==='0') || (pere.phone === null)">{{ 'Eleve.NumTel' | translate }}  : {{pere.phone}}</ion-card-subtitle>
  </div>

   <div *ngIf="mere.firstname != null">
    <ion-card-title>{{ 'Eleve.Mere' | translate }} : </ion-card-title>
    <ion-card-subtitle>{{ 'Eleve.Nom&Pre' | translate }}   : {{mere.firstname+' '+mere.lastname}}</ion-card-subtitle>
    <ion-card-subtitle *ngIf="mere.phone != null">{{ 'Eleve.NumTel' | translate }}  : {{mere.phone}}</ion-card-subtitle>
   </div>

   <div *ngIf="lstnotes.length">
   <ion-card-title>{{ 'Eleve.ListNote' | translate }}  : </ion-card-title>

      <table class="table">
        <thead>
         <tr>
          <th>{{ 'Eleve.Matiere' | translate }}</th>
          <th>{{ 'Eleve.Type' | translate }}</th>
          <th>{{ 'Eleve.Coefficient' | translate }}</th>
          <th>{{ 'Eleve.Note' | translate }}</th>
         </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of lstnotes" >
                 <tr>
                   <td>{{item.matiere}}</td>
                   <td >{{item.type}}</td>
                   <td>{{item.coef}}</td>
                   <td [ngStyle]='{"color": returncolor(item.note)}'>{{item.note}}</td>
                 </tr>
          </ng-container>
          
        </tbody>
      </table>
    </div>
  </ion-card-content>
</ion-card>
</ion-content>
