
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)='openmenu()'>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="school-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="emploi">
      <ion-icon name="home-outline"></ion-icon>
      
    </ion-tab-button>

   
      <ion-tab-button tab="notificationsEn">
        <ion-badge color="primary">{{nb}}</ion-badge>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>
  
   
    
  </ion-tab-bar>
  

</ion-tabs>
