ion-card{
    height: 97%;
}
ion-button{
    margin-right: auto;
    margin-left: auto;
    display: table;
    margin-top: 14%;
}

#filename{
    position: absolute;
    opacity: 0;;
}
#fileup{
    padding-top: 30px;
    font-size: 27px;
}