<ion-header [translucent]="true">
  <ion-toolbar mode='ios'>
    
    <ion-buttons slot="end">
      <ion-button color='primary' (click)='dismiss()'><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title style="color: gray; ">
      {{ 'Cours&Tp.addTp' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
<ion-card-header>
  <img src='assets/exam.jpg'>
</ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">{{ 'AddEns.Sujet' | translate }} : </ion-label>
      <ion-input type='text' [(ngModel)]="NewExc.subjet"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'AddEns.Description' | translate }}  : </ion-label>
      <ion-input type='text' [(ngModel)]="NewExc.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'AddEns.Matiere' | translate }} : </ion-label>
      <ion-select [(ngModel)]="NewExc.matiere" placeholder="{{ 'Buttons.Selectionner' | translate }}" cancelText="{{ 'Buttons.Annuler' | translate }}" okText="{{ 'Buttons.Valider' | translate }}">
       <ng-container *ngFor="let item of lstmatieres" >
        <ion-select-option [value]="'/api/matieres/'+item.matiere.id">{{item.matiere.nom}}</ion-select-option>

       </ng-container>
       
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'AddEns.Document' | translate }}  : </ion-label><br>
      <ion-input id='filename' name='filename' type='file' (change)='appendfile($event.target.files)'></ion-input>
     <ng-container *ngIf="this.NewExc.doc" >
      <label for='filename'>{{this.NewExc.doc.name}}</label>
     </ng-container>
     
    </ion-item>
   
    <ion-button color='success' (click)='Ajouter()'  id="add">{{ 'Buttons.ajout' | translate }}</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>

