

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngFor="let item of lstAnnon" >
    <ion-card  (click)="showModal(item)">
      <ion-card-content>
        <ion-card-title>
        {{item.subjet}}
        </ion-card-title>
        <ion-card-subtitle>
        {{item.message}}
        </ion-card-subtitle>
        <!-- <ion-label *ngIf="item.doc" >Fichier : <a (click)='download(item.doc)'>{{item.doc}}</a> </ion-label> -->
        <p style='text-align: right;'>{{formatDate(item.createdAt)}}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
