@-webkit-keyframes flip-in-diag-2-tl{0%{-webkit-transform:rotate3d(-1,1,0,80deg);transform:rotate3d(-1,1,0,80deg);opacity:0}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:1}}@keyframes flip-in-diag-2-tl{0%{-webkit-transform:rotate3d(-1,1,0,80deg);transform:rotate3d(-1,1,0,80deg);opacity:0}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:1}}
.splash-animation{
    -webkit-animation:flip-in-diag-2-tl .9s cubic-bezier(.25,.46,.45,.94) both;animation:flip-in-diag-2-tl .9s cubic-bezier(.25,.46,.45,.94) both;    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img{
        width: 300px;
    }
}