<ion-header>
  <ion-toolbar mode="ios">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title >
      <ion-img class="toolimage"  src='../../assets/title.png'></ion-img>

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-tabs>

  <ion-tab-bar slot="top">
 
    <ion-tab-button tab="annonces">
      <ion-label> {{ 'Observation.Annonces' | translate }}</ion-label>
      <ion-icon name="megaphone-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notificationOb">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>{{ 'Observation.Notifications' | translate }}</ion-label>      
    </ion-tab-button>

    
  </ion-tab-bar>  

</ion-tabs>
</ion-content>