img{
    margin:5%;
    margin-left: 27%;
    width:150px;
    height:150px;
    margin-top: 17%;
    margin-bottom: -5%;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);

}
.forgot{
    color:blue;
 }
 .forgot:hover{
   color:violet;
   text-decoration: solid;
 }