<ion-header [translucent]="true">
  <ion-toolbar mode='ios'>
    <ion-title >
      <ion-img class='toolimage' src='../../assets/title.png'></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

<img src='../../assets/profile.jpg'>
  <ion-list style="margin-top: 10%;">
    <ion-item  routerLinkActive="active-link"  button [routerLink]="['/profil-pro']" routerDirection='forward'>
      <ion-icon slot="start" style="margin: 20px;"class='Educo'  name="person-outline"></ion-icon>
      <ion-label>
        <h2>{{ 'Parametre.Utilisateur' | translate }}</h2>
        <h3>{{prenom+' '+nom}}</h3>
      </ion-label>
      
    </ion-item>
  
    <ion-item   routerLinkActive="active-link" button [routerLink]="['/MyClients']" routerDirection='forward'>
      <ion-icon slot="start" style="margin: 20px;"class='Educo' name="call-outline"></ion-icon>
      <ion-label>
        <h2>{{ 'Parametre.NumTel' | translate }}</h2>
        <ng-container *ngIf="Phone!='null';else nophone" >
       <h3>{{Phone}}</h3>
        </ng-container>
        <ng-template #nophone>
         <h3>Pas de numéro téléphone</h3>
        </ng-template>
      </ion-label>
    </ion-item>
    <!-- <ion-item  button slot="start"  >
      <ion-icon style="margin: 20px;"class='Educo'  name="language-outline"></ion-icon>
      <ion-label>{{ 'Parametre.Lang' | translate }}</ion-label>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="fr" checked="true" >
          <ion-label>FR</ion-label>
        </ion-segment-button>
        <ion-segment-button value="en">
          <ion-label>EN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ar">
          <ion-label>AR</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item> -->

    <ion-item slot="start" (click)='disconnect()' button [routerLink]="['/login']" lines="none">
      <ion-icon style="margin: 20px;"class='Educo' name="log-out-outline"></ion-icon> 
      <ion-label>{{ 'Parametre.Deconnecter' | translate }}</ion-label>
    </ion-item>
   
   
  </ion-list>


</ion-content>
