.style1{
    //font-family: 'Times New Roman', Times, serif;
}
.dist{
    margin:5%;
}
ion-toolbar{
    --background: #f1eeee;
}
.menu-item{
    margin-left: 23px;
    width: 22px;
    margin-right: 18px;
}
