

h2{
    font-size: 16px;
    font-weight: bold;
   
}
.time-h4{
    text-align: right;
}
.notif-icon{
    font-size: 30px;
}
ion-avatar{
    border-radius: 0%;
}
img{
    height: 49px;
    width: 87px;
    margin-left: 0%;
}

div > ion-img{

    height:42px;
    width:42px;
    margin-left: 35%;
    margin-top: 5%;
}
ion-label{
    padding:4%;
}
.notread{
    margin-bottom: 3px;
    --ion-color-base: #331fff30 !important;
    --ion-color-contrast: #000 !important;
    --ion-color-shade: #8e8e8e !important
}
ion-col{
    margin:1%;
}
ion-card {border-radius: 15%;
}
.centeredcard{

    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


