<ion-header [translucent]="true" *ngIf="localisation == '/acceuil-es-tabs/notificationsEn'">
  <ion-toolbar mode='ios'>
    <ion-title >
      <ion-img class="toolimage"  src='../../assets/title.png'></ion-img>

    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-list>
 <ng-container *ngIf="lstnotif.length!=0" >
  <ng-container *ngFor="let item of lstnotif" >

    <ion-item  *ngIf="item.readAt else notread" (click)='checkNotif(item)'>
      <ion-avatar slot="start">
        <ion-icon *ngIf="(item.sujet === 'annonce')" class='notif-icon' style="color: rgb(170, 155, 155);" name="megaphone-outline"></ion-icon>
        <ion-icon *ngIf="(item.sujet === 'devoir')" class='notif-icon' style="color: rgb(14, 134, 247);"  name="document-text-outline"></ion-icon>
        <ion-icon *ngIf="(item.sujet === 'message')" class='notif-icon' style="color: rgb(161, 246, 252);"  name="mail-outline"></ion-icon>      </ion-avatar>
      <ion-label class="ion-text-wrap">        
        <p>{{item.message}}</p>      
      </ion-label>     
    </ion-item>

  

    <ng-template #notread>
      <ion-item color='primary' class='notread'(click)='checkNotif(item)' >
        <ion-avatar slot="start">
          <ion-icon *ngIf="(item.sujet === 'annonce')" class='notif-icon' style="color: rgb(170, 155, 155);" name="megaphone-outline"></ion-icon>
          <ion-icon *ngIf="(item.sujet === 'devoir')" class='notif-icon' style="color: rgb(14, 134, 247);"  name="document-text-outline"></ion-icon>
          <ion-icon *ngIf="(item.sujet === 'message')" class='notif-icon' style="color: rgb(161, 246, 252);"  name="mail-outline"></ion-icon>        </ion-avatar>
        <ion-label class="ion-text-wrap" >
          
          <p >{{item.message}}</p>
        
        </ion-label>
       
      </ion-item>
    </ng-template>
    
  </ng-container>
 </ng-container>
   
</ion-list>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
