<ion-header>
  <ion-toolbar mode="ios">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title style='color: gray; '>{{ 'Bull.Bulletin' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
   <ng-container *ngFor="let item of lst; index as i">
    <!--  -->
     <ion-item *ngIf="item.bulletinClasse.affichePourParent" (click)='showBulletin(item.id)'>
       <ion-label> {{item.bulletinClasse.periode.nomFr}} </ion-label>
     </ion-item>
   </ng-container>
</ion-list>
</ion-content>
