/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body { 
  background: #007bff;
  background: linear-gradient(to right, #53504f, #161615);
  overflow: auto;
}
.active-link{
  background-color: yellow;
  color: midnightblue;
  ion-icon{
    color: midnightblue;
  }
}
.toolimage{
  display: block;
  margin-left: auto;
    margin-right: auto;
  height:77px;

  width: 88px;
}

.nojabaa-color{
  color:#167bbf;
}
.Educo{
  color:#167bbf
}
.EducoBg{
  background-color:#167bbf;
 border-color:#167bbf
}
